<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
    <body class="bg-light">
  <div class="container">
    <img class="ax-center my-10 w-24" src="https://assets.bootstrapemail.com/logos/light/square.png" />
    <div class="card p-6 p-lg-10 space-y-4">
      <h1 class="h3 fw-700">
        Blog Post - Comment
      </h1>
      <p>
       You have a new comment on {{News tile}}
      </p>
      <ul>
        <li>Name: <strong>Muktar Usman</strong></li>
        <li>Email: <strong>mualiyu@gmail.com</strong></li>
        <li>Message: <p>
        Here is a very simple card. It has responsive padding so it gets less padding on mobile to fill the screen more.
        Hopefully it can be useful to you. It is very simple and basic but can be used for a lot of simple emails.
      </p> </li>
        <li>Date: <strong>1 july, 2024</strong></li>
      </ul>
    </div>
    <div class="text-muted text-center my-6">
      <a href="https://admin.thecans.ng">https://admin.thecans.ng</a> <br>
+234 907 6599 631 <br>
+234 907 6599 631
    </div>
  </div>
</body>
</html>
